.snakes{
  transition: transform 100ms ease-in-out;
}

 .testt{
   position: absolute;
   visibility: hidden;
 }

.redanimation{
  height: 30px;
  width: 30px;
  position: absolute;
  font-weight: 1000;
  color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;
}

.purpleanimation{
  height: 30px;
  width: 30px;
  position: absolute;
  font-weight: 1000;
  color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-color:#751aff ;
  box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;
}

.snake16{
  offset-path:path("M 222 430 212 430 202 430 192 430 182 440 175 450 170 460 170 470 170 470 180 473 190 476 200 480 210 480 220 480 230 480 240 475 250 475 260 480 270 485");
  animation: move 1000ms alternate ease;
}

.snake47{
  offset-path: path("M 325 280 300 280 290 290 280 300 275 310 275 315 280 318 285 318 290 318 295 319 300 319 305 320 308 325 312 330 313 330 313 340 313 350 312 355 312 360 310 365 305 370 305 370 300 372 295 375 290 380 285 380 280 380 275 380");
  animation: move 1000ms alternate ease;

}

.snake49{
  offset-path:path("M 430 280 440 280 450 280 460 285 467 290 470 295 473 300 473 305 473 308 470 310 465 313 460 316 455 316 450 319 445 322 445 322 440 325 438 330 438 335 438 340 438 345 438 360 438 363 440 365 445 370 450 375 455 380 460 385 465 385 470 385 475 385 480 385 480 382");
  animation: move 1000ms alternate ease;
}

.snake56{
  offset-path:path("M 220 227 230 222 240 217 250 212 260 212 280 212 290 214 300 216 310 218 320 220 330 223 340 227 350 229 360 229 370 227 377 226");
  animation: move 1s alternate ease;
}

.snake62{
  offset-path:path("M 67 177 87 177 97 180 102 185 104 190 105 195 105 200 105 205 102 207 97 208 92 208 87 210 82 213 80 214 77 217 75 222 72 227 72 232 72 262 75 265 80 270 85 275 90 280 100 290 105 295 110 300 120 305 125 310 125 320 126 330 124 340 122 345 119 350 115 360 110 365 105 370 100 375 95 380 90 385 80 395 75 400 73 405 69 430");
  animation: move 1s alternate ease;
}

.snake63{
  offset-path:path("M 120 177 110 177 105 178 100 179 97 180 97 190 97 225 96 230 92 233 88 233 80 233 75 233 70 230 65 225 62 220 60 215 58 212 54 210 50 210 45 210 40 215 35 220 30 225 17 225");
  animation: move 1s alternate ease;
}

.snake87{
  offset-path:path("M 326 74 336 74 346 76 356 78 366 82 370 85 374 95 376 100 376 120 374 130 371 140 366 145 361 150 355 155 350 160 340 164 330 167 310 167 210 167 200 168 190 170 180 172 170 175 160 180 150 185 140 190 135 195 130 200 128 206 126 216 123 226 122 230 122 250 124 260 126 270 128 280 132 290 136 300 140 310 145 320 155 330 160 337 165 340 170 345 175 350 180 355 180 360 175 365 170 380");
  animation: move 1800ms alternate ease;
}

.snake93{
  offset-path:path("M 377 20 405 20 410 25 420 35 425 45 430 55 433 60 433 80 430 85 425 90 420 95 410 97 400 99 385 100 380 105 380 125 ");
  animation: move 1000ms alternate ease;
}

.snake95{
  offset-path:path("M 273 20 253 20 248 22 243 25 238 30 233 35 228 40 228 45 233 50 238 55 243 58 248 60 255 65 257 68 260 78 262 88 263 98 260 103 255 110 250 115 245 120 235 130 230 130 225 128 220 125 218 120 218 110 222 107 225 106 230 105 235 105 240 105 250 107 255 110 260 115 270 120 275 122");
  animation: move 1000ms alternate ease;
}

.snake98{
  offset-path:path("M 120 20 80 30 70 40 70 50 70 60 70 70 75 80 85 90 95 100 105 110 120 120");
 animation: move 900ms alternate ease;
}
@keyframes move {

  100%{
    offset-distance:100%;
  }
}

.animations{
  transform: rotateX(360deg) rotateY(360deg) rotateY(360deg) rotateX(360deg) rotateZ(360deg) rotateZ(360deg);
  transition: transform 1s ease;
}

.animation1{
  transform: rotateY(0deg);
  transition: transform 100ms ease;
}
.animation2{
  transform: rotateX(90deg) translateZ(-10px);
  transition: transform 100ms ease;
}
.animation3{
  transform: rotateY(90deg) translateZ(10px);
  transition: transform 100ms ease;
}
.animation4{
  transform: rotateY(-90deg) translateZ(-10px);
  transition: transform 100ms ease;
}
.animation5{
  transform: rotateX(-90deg) translateZ(10px);
  transition: transform 100ms ease;
}
.animation6{
  transform: rotateY(-180deg) translateX(-20px);
  transition: transform 100ms ease;
}

body{
  background-image: url("images/main2.png");
}

.bottom{
  display: flex;
   justify-content : space-between;
  transform: rotateX(-90deg) translateZ(20px);
}

.bottom .dot:nth-of-type(2){
  align-self: flex-end;
}

.back{
  display: flex;
  justify-content: space-between;
  transform: rotateY(-180deg) translateZ(20px);
}

.back .dot{
  margin-bottom: 2px;
}


.dice{
  position: relative;
  top:-55px;
  left: 100px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 3000px;
}

.diceouter{
  position: absolute;

}


.dice1{
  position: relative;
  top: 55px;
}



.dot {
   display: block;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color:white;
}


.front{
display: flex;
justify-content: center;
align-items: center;
  transform: rotateX(0deg) translateZ(20px);
}

.grid-container{
  height: 500px;
  width:500px;
  padding: 60px;
  margin: 0 auto;
  background-image: url("images/Snakes.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 10px solid #165470;
  border-radius: 10px;
}

.homeImg{
   position: absolute;
   top: -8px;
   left: -61px;
   z-index: 3;
}
.homeDiv{
  position: absolute;
}

@media only screen and (min-width:501px) and (max-width:1100px) {
  .grid-container{
    margin: 0 200px;
  }
}

@media only screen and (max-width:500px) {
  body{
    background-image:url("images/main1.jpeg");
  }
  .grid-container{
    margin: 0 -8px;
    margin-top: 50%;
    margin-bottom: 50%;
  }
  .dice{
    position: relative;
    top:375px;
    left: 433px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 3000px;
  }

  .diceouter{
    position: absolute;

  }

  .dice1{
    position: relative;
    left: 550px;
  }


  .player1{
    position: relative;
    width: 150px;
    top: 90px;
    left: -261px;
    height: 60px;
    border-radius: 50px 14px 14px 50px;;
    border:5px solid #ff0000;
    transform: translateX(327px) translateY(430px);
  }

  .play1{
    position: absolute;
  }

  .player2{
    position: relative;
    width: 150px;
    top: 200px;
    left: -261px;
    height: 60px;
    border-radius: 50px 14px 14px 50px;;
    border:5px solid #9900ff;
    transform: translateX(532px) translateY(320px) rotateY(180deg) ;
  }

  }


.left{
  display: flex;
   justify-content : space-between;
  transform: rotateY(-90deg) translateZ(20px);
}

.left .dot:nth-of-type(3) {
align-self: flex-end;
}

.left .dot:nth-of-type(2) {
  position: relative;
  top: 7px;
}



.logoimg1{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #ff8080;
  margin-right: 7px;
}

.logoimg2{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #cc80ff;
  margin-right: 7px;
}

.piece1{
  height: 30px;
  width: 30px;
  position:absolute;
  top: -14px;
  left: 50px;
  font-weight: 1000;
  color: white;
  text-align: center;
  transform: rotate(45deg);
  font-size: 25px;
  background-color: red;
  border-radius: 50%;
 box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;

}



.pieceBox1{
  height: 5px;
  width: 43px;
  background-color: #ff8080;
  text-align: right;
  border:3px solid #ff0000;
  position: relative;
  top: 192px;
  left: -107px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.pieceCircle1{
  height: 35px;
  width: 35px;
  position: absolute;
  top: -21px;
  left: 43px;
  border-radius: 50%;
  border:5px solid #ff0000;
   box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;
}

.piece2{
  height: 30px;
  width: 30px;
  position: relative;
  top: -13px;
  left: 50px;
  font-weight: 1000;
  color: white;
  text-align: center;
  transform: rotate(45deg);
  font-size: 25px;
  background-color: #751aff;
  border-radius: 50%;
 box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;
}

.pieceBox2{
  height: 5px;
  width: 43px;
  background-color: #cc80ff;
  text-align: right;
  border:3px solid #9900ff;
  position: relative;
  top: 290px;
  left: -107px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.pieceCircle2{
  height: 35px;
  width: 35px;
  position: absolute;
  top: -21px;
  left: 43px;
  border-radius: 50%;
  border:5px solid #9900ff;
   box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;
}

.player1{
  position: relative;
  width: 150px;
  top: 90px;
  left: -261px;
  height: 60px;
  border-radius: 50px 14px 14px 50px;;
  border:5px solid #ff0000;
}

.play1{
  position: absolute;
}

.player2{
  position: relative;
  width: 150px;
  top: 270px;
  left: -261px;
  height: 60px;
  border-radius: 50px 14px 14px 50px;;
  border:5px solid #9900ff;
}

.playerdice{
  position: absolute;
  top: 228px;
  left: -263px;
  width: 160px;
  z-index: 1;
}


.right .column {
display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right{
  display: flex;
  justify-content: space-between;
  transform: rotateY(90deg) translateZ(20px);
}

.right .column {
display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.side{
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 9px;
  background-color: red;
  border-radius: 10%;
  border:1px solid rgba(0,0,0,.5);
  color: black;
  text-align: center;
  box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;
}

.side:hover{
  transform: scale3d(1.2,1.2,1.2);
  transition: transform 100ms ease-in-out;
}

.side1{
  background-color: #751aff;
}



.top{
  display: flex;
  justify-content: space-between;
  transform: rotateX(90deg) translateZ(20px);
}
.top .column {
display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top .column:nth-of-type(2) {
justify-content: center;
}

.traclass{
  transition: transform 700ms ease-in-out;
}


.ladder1x{
  transition: transform 800ms ease;
}

.ladder1y{
  transition: transform 550ms ease;
}


.ladder4x{
  transition: transform 700ms ease;
}

.ladder4y{
  transition: transform 550ms ease;
}

.ladder9x{
  transition: transform 800ms ease;
}

.ladder9y{
  transition: transform 730ms ease;
}

.ladder51x{
  transition: transform 660ms ease;
}

.ladder51y{
  transition: transform 800ms ease;
}

.ladder28x{
  transition: transform 650ms ease-in-out;
}

.ladder28y{
  transition: transform 900ms ease-in-out;
}

.ladder28x1{
  transition: transform 660ms ease-in-out;
}

.ladder28y1{
  transition: transform 700ms ease-in-out;
}

.ladder28x2{
  transition: transform 600ms ease-in-out;
}

.ladder28y2{
  transition: transform 740ms ease-in-out;
}
